h2 {
    color: #4aaaa5;
    font-family: Georgia, serif;
    font-weight: bolder;
}

body {
    background: #ededed;
}

section {
    background-color: #FFFFFF;
}

#home {
    color: white;
    background-color: #4aaaa5;
    font-family: Georgia, serif;
    font-weight: bolder;
    font-size: 27px;
    padding: 10px;
    text-align: center;
}

.container {
    width: 1024px;
    margin:0 auto;
}

.box {
    position: relative;
}

.box-1-1 {
    left: 1%;
}

.bar {
    background-color: white;
}


#image,
#text {
    float: left;
}

#figure {
    position: relative;
    padding: 10px;
    top: 5%;
}

#text {
    width: 85%;
}

#image {
    width: 200px;
    height: 200px;
}

#image2 {
    width: 150px;
    height: 150px;
}