h2 {
    color: #4aaaa5;
    font-family: Georgia, serif;
    font-weight: bolder;
}

body {
    background: #ededed;
}

#home {
    color: white;
    background-color: #4aaaa5;
    font-family: Georgia, serif;
    font-weight: bolder;
    font-size: 27px;
    padding: 10px;
    text-align: center;
}

.bar {
    background-color: white;
}

#image,
#text {
    float: left;
}

#figure {
    position: relative;
    width: 900;
    margin:0 auto;
    background-color: white;
    padding: 40px;
    top: 10%;
}

#figure2 {
    position: relative;
    width: 300px;
    margin:0 auto;
    background-color: white;
    padding: 40px;
    top: 10%;
}

#text {
    width: 85%;
}

#image {
    width: 200px;
    height: 200px;
}

#image2 {
    width: 150px;
    height: 150px;
}

.main {
    display: flex;
    justify-content: center;
}
