body {
    background: #ededed;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, serif;
    font-weight: bolder;
}

table {
    font-family: arial, sans-serif;
}
  
td, th {
    border: 1px solid #e9e9e9;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #e9e9e9;
}


@media screen and (max-width: 767px) {
    .navbar {background-color: #4aaaa5;} 
    .size_color {background-color: white;}
}


.bar {
    background-color: white;
}

.border {
    border-color: #4aaaa5 !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.main {
    display: flex;
    justify-content: center;
}


#home {
    color: white;
    background-color: #4aaaa5;
    font-family: Georgia, serif;
    font-weight: bolder;
    font-size: 27px;
    padding: 10px;
    text-align: center;
}

#image,
#text {
    float: left;
}

#figure {
    position: relative;
    margin:0 auto;
    background-color: white;
    padding: 40px;
    top: 10%;
}

#figure2 {
    position: relative;
    width: 450px;
    margin:0 auto;
    background-color: white;
    padding: 40px;
    top: 10%;
}

#figure3 {
    position: relative;
    margin:0 auto;
    background-color: white;
    padding: 40px;
    top: 40px;
}

#figure4 {
    position: relative;
    margin:0 auto;
    background-color: white;
    padding: 40px;
    top: 5%;
}

#text {
    width: 85%;
}

#image {
    width: 200px;
    height: 200px;
}

#image2 {
    width: 150px;
    height: 150px;
}

#image3 {
    max-width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}
